.gpt3_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    font-size: 1.8rem;
    &-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            margin-right: 25px;
         span{
            color: white;
            font-weight: bold;
        }
      }
        &_list{
            display: flex;
             li{
                margin: 0 10px;
                a{
                    color: white;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 500;
                  
                }
            }
            @media only screen and (max-width:870px) {
                display:none;
                
            }
            
        }
       
    }
    &-btns{
        @media only screen and (max-width:870px) {
            display:none;      
        }
       
    }
    
    &-menu{
        cursor: pointer;
        display: none;
        position:relative;
        &_container{
            position: absolute;
            background-color:#002853;
            color: white;
            width: 20rem;
            height: auto;
            padding: 4rem;
            top: 0;
            right:5rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            border-radius: 0.5rem;
            -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            &_list{
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                li {
                    margin-bottom: 1rem ;
                    a{
                        color:white
                    }
                }
            }
            &_btns{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &>:first-child{
                    background-color: transparent;
                    color: white;
                    border: 1px solid white;
                    outline: 0;
                    padding: 0.5rem 1rem;
                    margin-bottom: 1.2rem;
                    cursor: pointer;
                }
                &>:nth-child(2){
                    background-color: transparent;     
                    color: #FF4820;
                    border: 1px solid #FF4820 ;
                    outline: 0;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                }
            }
          


        }
        @media only screen and (max-width:870px) {
            display:block;
            
        }
    }

}

.btn--filled{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    background-color:#FF4820;     
    color:white;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem ;
    cursor: pointer;
    
 }

.btn--outlined{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;     
    background:transparent;
    border: 0;
    outline: 0;
    color:white;
    margin-right: 2rem;
    cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-3 23:24:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  