.gpt3_feature-ai{
    display: flex;
    justify-content: center;
    align-items: center;
    &-img{
     flex:1;
     display: flex;
     justify-content: center;
     align-items: center;
     img{
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
    }
    &-content{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10rem;
      
       
        &-sub1{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #71E5FF;
            margin-bottom: 2rem;
            @media screen and (max-width:500px) {
                margin: auto;  
            }
        }
        &-head{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 34px;
            line-height: 45px;
            background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%), #FFFFFF;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 2rem;
            @media screen and(max-width:500px) {
                font-size: 18px;
                margin: auto;
                
            }

        }
        &-text{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #81AFDD;
            width: 45.7rem;
            margin-bottom: 2rem;
            @media screen and(max-width:500px) {
                padding: 0 5rem;
                font-size: 15px;
                     
            }

        }
        &-sub2{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #FF8A71; 
            @media screen and(max-width:500px) {
              
                font-size: 15px;
                margin: auto;
                     
            }


        }
    }

    @media screen and(max-width:960px) {
        flex-direction: column;
        
    }
}