html{
  font-size: 62.5%;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #040C18;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

